.newsdesktop-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.newsdesktop-newsdesktop {
  gap: 15px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px 100px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(246, 246, 246, 1);
}
.newsdesktop-header {
  gap: 10px;
  display: flex;
  padding: 20px 0 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.newsdesktop-logoletters {
  width: 109px;
  height: 40px;
}
.newsdesktop-main {
  gap: 60px;
  width: inherit;
  display: flex;
  padding: 40px;
  max-width: 900px;
  align-self: center;
  align-items: center;
  border-color: rgba(234, 235, 237, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.newsdesktop-frame4 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.newsdesktop-image1 {
  width: auto;
  height: 264px;
  align-self: stretch;
  object-fit: cover;
  border-radius: 10px;
}
.newsdesktop-heading1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.newsdesktop-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.newsdesktop-paragraph-text1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.newsdesktop-text14 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  flex-grow: 1;
  text-align: center;
  line-height: 110.00000238418579%;
}
.newsdesktop-container2 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.newsdesktop-img1 {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(205, 205, 205, 1);
}
.newsdesktop-image2 {
  top: 0px;
  left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 10px;
}
.newsdesktop-text16 {
  flex: 1;
  width: auto;
}
.newsdesktop-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.newsdesktop-text19 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.newsdesktop-img2 {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(205, 205, 205, 1);
}
.newsdesktop-image4 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.newsdesktop-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.newsdesktop-text24 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.newsdesktop-img3 {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(205, 205, 205, 1);
}
.newsdesktop-image5 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.newsdesktop-text27 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.newsdesktop-text29 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.newsdesktop-img4 {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(205, 205, 205, 1);
}
.newsdesktop-image6 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.newsdesktop-text32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.newsdesktop-text34 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.newsdesktop-img5 {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(205, 205, 205, 1);
}
.newsdesktop-image7 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.newsdesktop-text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.newsdesktop-text39 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.newsdesktop-img6 {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(205, 205, 205, 1);
}
.newsdesktop-image3 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.newsdesktop-text42 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.newsdesktop-text44 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.newsdesktop-frame1 {
  gap: 20px;
  display: flex;
  padding: 40px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: rgba(154, 119, 255, 1);
}
.newsdesktop-promo-text-wrapper {
  gap: 20px;
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.newsdesktop-section {
  gap: 15px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.newsdesktop-heading2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.newsdesktop-text46 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.newsdesktop-paragraph-text2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.newsdesktop-text48 {
  color: rgba(255, 255, 255, 0.800000011920929);
  width: 100%;
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 110.00000238418579%;
}
.newsdesktop-elevatednormal {
  gap: 10px;
  height: 40px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1000px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.newsdesktop-text50 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 110.00000238418579%;
}
.newsdesktop-appicon {
  order: 1;
  width: 80px;
  height: 80px;
  display: flex;
  position: relative;
  flex-shrink: 0;
}
.newsdesktop-frame9 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
}
@media(max-width: 767px) {
  .newsdesktop-newsdesktop {
    padding: 20;
  }
  .newsdesktop-frame1 {
    padding: 20px;
    flex-direction: column;
  }
  .newsdesktop-promo-text-wrapper {
    order: 2;
  }
}
@media(max-width: 479px) {
  .newsdesktop-newsdesktop {
    padding: 0px;
  }
  .newsdesktop-main {
    width: inherit;
    padding: 20px;
  }
  .newsdesktop-text19 {
    height: auto;
    align-self: stretch;
  }
}
